/* Variables */
$dark-dark-hacker: #2b5329;
$flicker-green: linear-gradient(90deg, #2b5329 0%, #000000 10%, #000000 90%, #2b5329 100%);
$flicker-green-static: radial-gradient(circle, #000000 0%, #000000 60%, #149414 100%);
$red: #dc143c;
$white: #faebd7;
$light-hacker: #649568;
$black: #181719;
$gray: #3a3d40;
$trans-black: rgb(59, 60, 54, 0.4);
$trans-gradient-black: linear-gradient(to top, #181719 0%, #3a3d40 100%);


/* Mixins */
@mixin flicker{
  -webkit-animation: flickerAnimation 5s infinite;
  -moz-animation: flickerAnimation 5s infinite;
  -o-animation: flickerAnimation 5s infinite;
  animation: flickerAnimation 5s infinite;
}

@mixin flicker-slow {
  -webkit-animation: flickerAnimation 5s infinite;
  -moz-animation: flickerAnimation 5s infinite;
  -o-animation: flickerAnimation 5s infinite;
  animation: flickerAnimation 5s infinite;
}

@mixin flicker-static {
  -webkit-animation: flicker-static 4s infinite;
  -moz-animation: flicker-static 4s infinite;
  -o-animation: flicker-static 4s infinite;
  animation: flicker-static 4s infinite;
}

@mixin flicker-static-delayed {
  -webkit-animation: flicker-static 4s infinite;
  -webkit-animation-delay: 3s;
  -moz-animation: flicker-static 4s infinite;
  -moz-animation-delay: 3s;
  -o-animation: flicker-static 4s infinite;
  -o-animation-delay: 3s;
  animation: flicker-static 4s infinite;
  animation-delay: 3s;
}

/* Animation keyframes */
@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flicker-static {
  0% {
    top: 0;
  } 100% {
    top: 2000px;
  }
}

@-o-keyframes flicker-static {
  0% {
    top: 0;
  } 100% {
    top: 2000px;
  }
}

@-moz-keyframes flicker-static {
  0% {
    top: 0;
  } 100% {
    top: 2000px;
  }
}

@-webkit-keyframes flicker-static {
  0% {
    top: 0;
  } 100% {
    top: 2000px;
  }
}

@keyframes flicker-static-long {
  0% {
    top: 0;
  } 100% {
    top: 3600px;
  }
}

@-o-keyframes flicker-static-long {
  0% {
    top: 0;
  } 100% {
    top: 3600px;
  }
}

@-moz-keyframes flicker-static-long {
  0% {
    top: 0;
  } 100% {
    top: 3600px;
  }
}

@-webkit-keyframes flicker-static-long {
  0% {
    top: 0;
  } 100% {
    top: 3400px;
  }
}

@keyframes typing {
  from {
    width: 0;
    border-right: 10px solid $white;
  }
  to {
    width: 100%;
    border-right: 0px solid $white;
  }
}
@-o-keyframes typing {
  from {
    width: 0;
    border-right: 10px solid $white;
  }
  to {
    width: 100%;
    border-right: 0px solid $white;
  }
}
@-moz-keyframes typing {
  from {
    width: 0;
    border-right: 10px solid $white;
  }
  to {
    width: 100%;
    border-right: 0px solid $white;
  }
}
@-webkit-keyframes typing {
  from {
    width: 0;
    border-right: 10px solid $white;
  }
  to {
    width: 100%;
    border-right: 0px solid $white;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-o-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-moz-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Default page css */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background: $black;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $white $black;
  @media (min-width: 1400px) {
    scrollbar-width: auto;
  }
  @media (min-width: 2000px) {
    scrollbar-width: auto;
  }
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: $black;
}

*::-webkit-scrollbar-thumb {
  background-color: $white;
  border-radius: 20px;
  border: 3px solid $black;
}

.red {
  color: $red;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1 {
  font-size: 10vw;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  //Media Queries
  @media (min-width: 600px) {
    font-size: 5rem;
  }
  @media (min-width: 2000px) {
    font-size: 7rem;
  }
}

h2 {
  color: $white;
  font-size: 7vw;
  //Media Queries
  @media (min-width: 600px) {
    font-size: 4rem;
  }
}

p {
  color: $red;
  //Media Queries
  @media (min-width: 600px) {
    font-size: 2rem;
  }
  @media (min-width: 2000px) {
    font-size: 3rem;
  }
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $light-hacker;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  box-shadow: 2px 2px $black;
  transition: transform 0.3s ease-out;
  @media (min-width: 1400px) {
    box-shadow: 10px 10px $black;
  }
}

.fab {
  font-family: "Font Awesome 5 Brands";
}

.fa,
.fab,
.fal,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

/* Specific css */

// .background {
//   height: 2000px;
//   width: 100vw;
//   background: $flicker-green;
//   // @include flicker();
//   z-index: 0;
//   @media (min-width: 2000px) {
//     height: 3500px;
//   }
// }

// .background-static {
//   width: 100vw;
//   height: 15px;
//   background: $flicker-green;
//   position: absolute;
//   top: 0;
//   @include flicker-static();
//   z-index: 2;
//   @media (min-width: 2000px) {
//     -webkit-animation: flicker-static-long 4s infinite;
//     -moz-animation: flicker-static-long 4s infinite;
//     -o-animation: flicker-static-long 4s infinite;
//     animation: flicker-static-long 4s infinite;
//   }
// }

// .background-static2 {
//   width: 100vw;
//   height: 15px;
//   background: $flicker-green;
//   position: absolute;
//   top: 0;
//   @include flicker-static-delayed();
//   z-index: 2;
//   @media (min-width: 2000px) {
//     -webkit-animation: flicker-static-long 4s infinite;
//     -webkit-animation-delay: 3s;
//     -moz-animation: flicker-static-long 4s infinite;
//     -moz-animation-delay: 3s;
//     -o-animation: flicker-static-long 4s infinite;
//     -o-animation-delay: 3s;
//     animation: flicker-static-long 4s infinite;
//     animation-delay: 3s;
//   }
// }

.container {
  width: 100vw;
  height: fit-content;
  margin: -10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  margin-bottom: 0;
  z-index: 5;
}

/* || Navbar */

.nav-box {
  background: $black;
  width: 100%;
  height: 50px;
  position: fixed;
  top: 0;
  z-index: 6;
  @media (min-width: 2000px) {
    height: 60px;
  }
}

.navbar-container {
  max-width: 1050px;
  width: 90%;
  margin: auto;
}

.navbar {
  width: 100%;
  box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
  background: $black;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 62px;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
  text-decoration: none;
  color: $red;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 0.7rem;
  @media (min-width: 2000px) {
    font-size: 1.7rem;
  }
}

.navbar .nav-container a:hover{
    font-weight: bolder;
    color: $white;
}

.nav-container {
  display: block;
  position: relative;
  height: 60px;
}

.nav-container .checkbox {
  position: fixed;
  display: block;
  height: 32px;
  width: 32px;
  top: 20px;
  left: 20px;
  z-index: 10;
  opacity: 0;
  cursor: pointer;
  @media (min-width: 2000px) {
    top: 18px;
    left: 18px;
    width: 43px;
  }
}

.nav-container .hamburger-lines {
  display: block;
  height: 26px;
  width: 32px;
  position: fixed;
  top: 13px;
  left: 20px;
  z-index: 6;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  @media (min-width: 2000px) {
    top: 18px;
    width: 40px;
    height: 31px;
  }
}

.nav-container .hamburger-lines .line {
  display: block;
  height: 4px;
  width: 100%;
  border-radius: 10px;
  background: $white;
}

.nav-container .hamburger-lines .line1 {
  transform-origin: 0% 0%;
  transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
  transform-origin: 0% 100%;
  transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
  padding-top: 20px;
  position: fixed;
  height: 40px;
  width: 350px;
  transform: translate(-250%);
  display: flex;
  flex-direction: row;
  margin-left: 1em;
  transition: transform 0.5s ease-in-out;
  text-align: center;
  color: $red;
  align-items: center;
  justify-content: center;
  z-index: 6;
  @media (min-width: 600px) {
    margin-left: 0px;
  }
  @media (min-width: 1200px) {
    margin-left: -30px;
  }
  @media (min-width: 1400px) {
    margin-left: -150px;
  }
  @media (min-width: 2000px) {
    margin-left: -600px;
    padding-top: 30px;
  }
}

.navbar .menu-items li {
  margin-bottom: 1.2rem;
  font-size: 1.5rem;
  font-weight: 500;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
  animation: fadeIn 1.5s;
  -webkit-animation: fadeIn 1.5s;
  -o-animation: fadeIn 1.5s;
  -moz-animation: fadeIn 1.5s;
}

.nav-container input[type="checkbox"] ~ .menu-items {
  animation: fadeOut 0.4s;
  -webkit-animation: fadeOut 0.4s;
  -o-animation: fadeOut 0.4s;
  -moz-animation: fadeOut 0.4s;
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

/* || Welcome Section */

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: clip;
  background: radial-gradient(#3a3d40, #181719);
  margin-top: -20px;
  scroll-margin-top: 50px;
}

.welcome-container {
  display: inline-block;
}

.welcome-text {
  color: $white;
  text-align: center;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  -webkit-animation: typing 1s steps(30, end);
  -webkit-animation-fill-mode: forwards;
  -moz-animation: typing 1s steps(30, end);
  -moz-animation-fill-mode: forwards;
  -o-animation: typing 1s steps(30, end);
  -o-animation-fill-mode: forwards;
  animation: typing 1s steps(30, end);
  animation-fill-mode: forwards;
}

.welcome-container2 > p {
  font-weight: 200;
  font-style: italic;
  margin-top: 0px;
  color: $red;
  -webkit-animation: typing 1s steps(30, end);
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 2.5s;
  -moz-animation: typing 1s steps(30, end);
  -moz-animation-fill-mode: forwards;
  -moz-animation-delay: 2.5s;
  -o-animation: typing 1s steps(30, end);
  -o-animation-fill-mode: forwards;
  -o-animation-delay: 2.5s;
  animation: typing 1s steps(30, end);
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
}

.scroll-cont {
  position: absolute;
  bottom: 0px;
  // margin-top: 0px;
  color: $red;
}

.scroll-text {
  font-size: 20px;
  @include flicker-slow();
  @media (min-width: 2000px) {
    font-size: 30px;
  }
}

/* || About Me Section */

.about-me {
  position: relative;
  top: 0;
  width: 100%;
  height: fit-content;
  background: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
  scroll-margin-top: 50px;
}

.about-me-text {
  display: inline-block;
  width: 70vw;
  height: 400px;
  text-align: center;
  white-space: pre-line;
  // background: white;
}

.about-me-text h2 {
  //Media Queries
  @media (min-width: 600px) {
    font-size: 2rem;
  }
  @media (min-width: 2000px) {
    font-size: 2.5rem;
  }
}

.about-me-text  p {
  font-size: 4vw;
  color: $white;
  //Media Queries
  @media (min-width: 600px) {
    font-size: 1.5rem;
  }
  @media (min-width: 2000px) {
   font-size: 2rem; 
  }
}

hr.dashed {
  border: 0;
  border-top: 2px dashed $red;
}

/* || Portfolio Section */

.projects-section {
  background: $gray;
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 0;
  z-index: 5;
  scroll-margin-top: 50px;
}

.projects-section h2 {
  margin-top: 20px;
  //Media Queries
  @media (min-width: 600px) {
    font-size: 4rem;
  }
  @media (min-width: 2000px) {
   font-size: 5rem; 
  }
}

.projects-section-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80vw;
  height: 25vw;
  margin: 50px;
  //Media Queries
  @media (min-width: 600px) {
    margin-top: 50px;
    height: 30vw;
  }
}

.project {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 35vw;
  height: 40vw;
  border: 5px solid $white;
  //Media Queries
  @media (min-width: 600px) {
    width: 40%;
    height: 100%;
  }
}

//Portfolio previews css
.preview {
  width: 90%;
  height: 70%;
  margin-top: 10px;
}

.preview-text {
  width: 100%;
  height: fit-content;
  text-align: center;
}

.preview-text p {
  color:$red;
  margin: 1vw;
  font-size: 4vw;
  //Media Queries
  @media (min-width: 600px) {
    font-size: 1.5rem;
  }
  @media (min-width: 2000px) {
    font-size: 2.5rem;
  }
}

/* || Contact Section */

.contact-section {
  display: flex;
  position: relative;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 500px;
  background: $trans-gradient-black;
  margin-bottom: -10px;
  scroll-margin-top: 50px;
  //Media Queries
  @media (min-width: 1400px) {
    // margin-top: 100px;
    margin-bottom: 100px;
    height: 600px;
  }
}

.contact-title {
  color: $white;
  //Media Queries
  @media (min-width: 1200px) {
    font-size: 4rem;
  }
  @media (min-width: 600px) {
    font-size: 3rem;
  }
}

.contact-link {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  max-width: 980px;
  margin-top: 1em;
  margin-bottom: 1em;
  flex-wrap: wrap;
  //Media Queries
  @media (min-width: 600px) {
    flex-direction: row;
  }
}

.contact-details {
  text-shadow: 2px 2px 1px $dark-dark-hacker;
  transition: transform 0.3s ease-out;
  //Media Queries
  @media (min-width: 600px) {
    text-shadow: 2px 2px 1px $black;
  }
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.hover:hover {
  transform: translateY(8px);
}

.contact-link > a {
  color: $white;
  font-size: 5vw;
  margin: 1em;
  //Media Queries
  @media (min-width: 600px) {
    font-size: 2rem;
  }
}
