/* Variables */
$dark-hacker: #0e6b0e;
$dark-dark-hacker: #2b5329;
$flicker-green: linear-gradient(90deg, #2b5329 0%, #000000 20%, #000000 70%, #2b5329 100%);
$flicker-green-static: radial-gradient(circle, #000000 0%, #000000 60%, #149414 100%);
$hacker: #149414;
$light-hacker: #649568;
$black: #000000;
$trans-black: rgb(0, 0, 0, 0.4);
$trans-gradient-black: linear-gradient(0deg, #000000 0%, rgb(0, 0, 0, 0.4) 100%);

@media only screen and (min-width: 600px) {
  body {
    min-width: 600;
  }
}

@media only screen and (min-width: 1200px) {
  
}



/* Mixins */
@mixin flicker{
  -webkit-animation: flickerAnimation 0.05s infinite;
  -moz-animation: flickerAnimation 0.05s infinite;
  -o-animation: flickerAnimation 0.05s infinite;
  animation: flickerAnimation 0.05s infinite;
}

@mixin flicker-slow {
  -webkit-animation: flickerAnimation 5s infinite;
  -moz-animation: flickerAnimation 5s infinite;
  -o-animation: flickerAnimation 5s infinite;
  animation: flickerAnimation 5s infinite;
}

@mixin flicker-static {
  -webkit-animation: flicker-static 4s infinite;
  -moz-animation: flicker-static 4s infinite;
  -o-animation: flicker-static 4s infinite;
  animation: flicker-static 4s infinite;
}

@mixin flicker-static-delayed {
  -webkit-animation: flicker-static 4s infinite;
  -webkit-animation-delay: 3s;
  -moz-animation: flicker-static 4s infinite;
  -moz-animation-delay: 3s;
  -o-animation: flicker-static 4s infinite;
  -o-animation-delay: 3s;
  animation: flicker-static 4s infinite;
  animation-delay: 3s;
}

/* Animation keyframes */
@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes flicker-static {
  0% {
    top: 0;
  } 100% {
    top: 2000px;
  }
}

@-o-keyframes flicker-static {
  0% {
    top: 0;
  } 100% {
    top: 2000px;
  }
}

@-moz-keyframes flicker-static {
  0% {
    top: 0;
  } 100% {
    top: 2000px;
  }
}

@-webkit-keyframes flicker-static {
  0% {
    top: 0;
  } 100% {
    top: 2000px;
  }
}

@keyframes typing {
  from {
    width: 0;
    border-right: 10px solid $hacker;
  }
  to {
    width: 100%;
    border-right: 0px solid $hacker;
  }
}
@-o-keyframes typing {
  from {
    width: 0;
    border-right: 10px solid $hacker;
  }
  to {
    width: 100%;
    border-right: 0px solid $hacker;
  }
}
@-moz-keyframes typing {
  from {
    width: 0;
    border-right: 10px solid $hacker;
  }
  to {
    width: 100%;
    border-right: 0px solid $hacker;
  }
}
@-webkit-keyframes typing {
  from {
    width: 0;
    border-right: 10px solid $hacker;
  }
  to {
    width: 100%;
    border-right: 0px solid $hacker;
  }
}

/* Default page css */
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background: $black;
}

/* Works on Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: $hacker $black;
}

/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: $black;
}

*::-webkit-scrollbar-thumb {
  background-color: $hacker;
  border-radius: 20px;
  border: 3px solid $black;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h2 {
  color: $hacker;
  font-size: 2rem;
}

p {
  color: $dark-hacker;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $light-hacker;
}

.fab {
  font-family: "Font Awesome 5 Brands";
}

.fa,
.fab,
.fal,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

/* Specific css */

.background {
  height: 2000px;
  width: 100vw;
  background: $flicker-green;
  @include flicker();
  z-index: 0;
}

.background-static {
  width: 100vw;
  height: 15px;
  background: $flicker-green;
  position: absolute;
  top: 0;
  @include flicker-static();
  z-index: 2;
}

.background-static2 {
  width: 100vw;
  height: 15px;
  background: $flicker-green;
  position: absolute;
  top: 0;
  @include flicker-static-delayed();
  z-index: 2;
}

.container {
  width: 100vw;
  height: fit-content;
  margin: -10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  margin-bottom: 0;
  z-index: 5;
}

#navbar {
  background: $black;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  z-index: 10;
}

// .nav-list {
//   position: absolute;
//   right: 0;
// }

.navbar-hamburger {
  background: $black;
  width: 30px;
  height: 20px;
  margin-right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bar {
  width: 100%;
  height: 4px;
  background: $hacker;
  border-radius: 1px;
}

.nav-list {
  display: flex;
  margin-right: 0.5rem;
}

.nav-list a {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2rem;
  text-decoration: underline;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: clip;
  background: $trans-black;
}

.welcome-container {
  display: inline-block;
}

.welcome-text {
  color: $hacker;
  text-align: center;
  font-size: 5rem;
  overflow: hidden;
  white-space: nowrap;
  width: 0;
  -webkit-animation: typing 1s steps(30, end);
  -webkit-animation-fill-mode: forwards;
  -moz-animation: typing 1s steps(30, end);
  -moz-animation-fill-mode: forwards;
  -o-animation: typing 1s steps(30, end);
  -o-animation-fill-mode: forwards;
  animation: typing 1s steps(30, end);
  animation-fill-mode: forwards;
}

.welcome-container2 > p {
  font-size: 2rem;
  font-weight: 200;
  font-style: italic;
  margin-top: 0px;
  color: $dark-hacker;
  -webkit-animation: typing 1s steps(30, end);
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-delay: 2.5s;
  -moz-animation: typing 1s steps(30, end);
  -moz-animation-fill-mode: forwards;
  -moz-animation-delay: 2.5s;
  -o-animation: typing 1s steps(30, end);
  -o-animation-fill-mode: forwards;
  -o-animation-delay: 2.5s;
  animation: typing 1s steps(30, end);
  animation-fill-mode: forwards;
  animation-delay: 2.5s;
}

.scroll-cont {
  position: absolute;
  bottom: 0px;
  margin-top: 0px;
  color: $dark-hacker;
}

.scroll-text {
  font-size: 20px;
  @include flicker-slow();
}

.about-me {
  position: relative;
  top: 0;
  width: 100vw;
  height: fit-content;
  background: $trans-black;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.about-me-text {
  display: inline-block;
  width: 70vw;
  height: 400px;
  text-align: center;
  white-space: pre-line;
}

.about-me-text > p {
  font-size: 1.5rem;
}

hr.dashed {
  border: 0;
  border-top: 2px dashed $dark-hacker;
}

.projects-section {
  background: $trans-gradient-black;
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 0;
  z-index: 5;
}

.projects-section-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 60vw;
  height: 20vw;
  background: $dark-dark-hacker;
  margin: 20px;
}

.project {
  width: 40%;
  height: 100%;
  background: $dark-dark-hacker;
  border: 1px solid $hacker;
}

.contact-section {
  display: flex;
  position: relative;
  top: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 500px;
  background: $black;
  margin-bottom: -10px;
}

.contact-title {
  color: green;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 1.5rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.contact-details:hover {
  transform: translateY(8px);
}

.contact-link > a {
  color: $hacker;
}
