/* Color variables */
$dark-hacker: #0e6b0e;
$dark-dark-hacker: #2b5329;
$flicker-green: radial-gradient(circle, #181719 0%, #181719 50%, #2b5329 100%);
$hacker: #149414;
$light-hacker: #649568;
$black: #181719;
$trans-black: rgb(24, 23, 25, 0.7);
$black2: #1a1d10;

@media only screen and (min-width: 600px) {
  body {
    min-width: 600;
  }
}

/* Mixins */
@mixin flicker{
  -webkit-animation: flickerAnimation 0.05s infinite;
  -moz-animation: flickerAnimation 0.05s infinite;
  -o-animation: flickerAnimation 0.05s infinite;
  animation: flickerAnimation 0.05s infinite;
}

/* Animation keyframes */
@keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-o-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-moz-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes flickerAnimation {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0.5;
  }
  50% {
    opacity: 0;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

/* Default page css */
body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
  color: var(--text-color);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  background: $black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: $light-hacker;
}

.fab {
  font-family: "Font Awesome 5 Brands";
}

.fa,
.fab,
.fal,
.far,
.fas {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

/* Specific css */

.background {
  height: 100vh;
  width: 100vw;
  background: $flicker-green;
  @include flicker();
  z-index: 1;
}

.container {
  width: 100vw;
  height: fit-content;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  margin-bottom: 0;
  z-index: 5;
}

#navbar {
  background: $black2;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 50px;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  z-index: 10;
}

.nav-list {
  display: flex;
  margin-right: 0.5rem;
}

.nav-list a {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
  padding: 2rem;
  text-decoration: underline;
}

#welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow-x: clip;
  background: $trans-black;
}

.welcome-text {
  color: $hacker;
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
}

#welcome-section > p {
  font-size: 2rem;
  font-weight: 200;
  font-style: italic;
  margin-top: 0px;
  color: $dark-hacker;
}

.scroll-cont {
  position: absolute;
  bottom: 0px;
  font-size: 50px;
}

.scroll-text {
  font-size: 15px;
}

.projects-section {
  background: $dark-dark-hacker;
  width: 100vw;
  height: fit-content;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.projects-section-container {
  display: flex;
  justify-content: space-between;
}

.project {
  width: 49%;
  height: 400px;
  background: $black;
  border: 1px solid $hacker;
  flex: 1;
}

.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100vw;
  height: 500px;
  background: $black;
  margin-bottom: -10px;
}

.contact-title {
  color: green;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 1.5rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.btn {
  display: inline-block;
  padding: 1rem 2rem;
  border-radius: 2px;
}

.contact-details:hover {
  transform: translateY(8px);
}

.contact-link > a {
  color: $hacker;
}
